
<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>{{ product.name }}</h3>
        <div>
            <button (click)="product.hide = !product.hide" class="btn btn-primary">
                Detalles
            </button>
            &nbsp;&nbsp;
            <button (click)="deleteProduct(product)" class="btn btn-danger">
                Borrar
            </button>
        </div>
    </div>
    <div class="card-body" [hidden]="product.hide">
        <p>
            <strong>Precio:</strong>&nbsp;
            ${{product.price}}
        </p> 
        <p>
            <strong>Existencias:</strong> 
            &nbsp;
            {{product.quanty}}
        </p>
    </div>
</div>
