<div class="card">
    <div class="card-body">
      <form (submit)="addProduct(newName, newPrice, newQuanty)">
        <div class="form-group">
          <input type="text" placeholder="Nombre" #newName class="form-control">
        </div>
        <div class="form-group">
            <input type="number" placeholder="Precio" #newPrice class="form-control">
        </div>
        <div class="form-group">
          <input type="number" placeholder="Cantidad" #newQuanty class="form-control">
      </div>
        <button type="submit" class="btn btn-primary btn-block">Guardar Producto</button>
      </form>
    </div>
  </div>